.offscreen {
    position: absolute;
    left: -9999px;
}

body {
    margin: 0;
    height: 100vh;
}

.registration_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);
    overflow: hidden;
    //background: linear-gradient(65deg, rgba(131, 58, 180, 1) 0%, rgba(215, 59, 59, 1) 50%, rgba(196, 137, 53, 1) 100%);

    .register_form {
        display: flex;
        flex-direction: column;

        .form_input {
            margin: 15px;
        }
    }
}

.outlined_button {
    text-decoration: none;
    margin-left: 10px;
}